@using ProniaWebApplication.DTOs.AcountDto
@model RegisterDto
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

 <!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height"
         data-bg-image="~/assets/images/breadcrumb/bg/1-1-1919x388.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Login & Register Page</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>Login | Register</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <form method="post">
                        <div class="login-form">
                            <h4 class="login-title">Register</h4>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <label asp-for="Name">Name</label>
                                    <input asp-for="Name" placeholder=" Name" />
                                    <span asp-validation-for="Name" style="color:red"></span>
                                </div>
                                <div class="col-md-6 col-12">
                                    <label asp-for="Surname">Surname</label>
                                    <input asp-for="Surname" placeholder="Surname" />
                                    <span asp-validation-for="Surname" style="color:red"></span>
                                </div>
                                <div class="col-md-12">
                                    <label asp-for="Username">Username</label>
                                    <input asp-for="Username" placeholder="Username" />
                                    <span asp-validation-for="Username" style="color:red"></span>
                                </div>
                                <div class="col-md-12">
                                    <label asp-for="Email">Email Address*</label>
                                    <input asp-for="Email" placeholder="Email Address" />
                                    <span asp-validation-for="Email" style="color:red"></span>

                                </div>
                                <div class="col-md-6">
                                    <label asp-for="Password">Password</label>
                                    <div class="input-group">
                                        <input asp-for="Password" id="Password" placeholder="Password" type="password" />
                                        <span class="input-group-text">
                                            <i class="fas fa-eye-slash" id="passwordToggleIcon" onclick="togglePasswordVisibility()"></i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Password" style="color:red"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="ConfirmPassword">Confirm Password</label>
                                    <div class="input-group">
                                        <input asp-for="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password" type="password" />
                                        <span class="input-group-text">
                                            <i class="fas fa-eye-slash" id="passwordToggleIcon" onclick="togglePasswordVisibility()"></i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" style="color:red"></span>
                                </div>
                                <div asp-validation-summary="All"></div>
                                <div class="col-12">
                                    <button class="btn btn-custom-size lg-size btn-pronia-primary">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("Password");
            var confirmPasswordInput = document.getElementById("ConfirmPassword");
            var passwordIcon = document.getElementById("passwordToggleIcon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                confirmPasswordInput.type = "text";
                passwordIcon.classList.remove("fa-eye-slash");
                passwordIcon.classList.add("fa-eye");
            } else {
                passwordInput.type = "password";
                confirmPasswordInput.type = "password";
                passwordIcon.classList.remove("fa-eye");
                passwordIcon.classList.add("fa-eye-slash");
            }
        }
    </script>
</main>
<!-- Main Content Area End Here -->